<h1>Chỉnh sửa sản phẩm</h1>
<form [formGroup]="productForm" (ngSubmit)="submit()">
  <table>
      <input type="hidden" formControlName="id" />
    <tr>
      <td>Tên sản phẩm:</td>
      <td><input type="text" formControlName="name" /></td>
    </tr>
    <tr>
      <td>Giá sản phẩm</td>
      <td><input type="number" formControlName="price" /></td>
    </tr>
    <tr>
      <td>Mô tả về sản phẩm</td>
      <td><input type="text" formControlName="description" /></td>
    </tr>
    <tr>
      <td>Danh Mục</td>
      <td>
        <select formControlName="category" [compareWith]="compareBy">
          <option value="">Chon Danh Mục</option>
          <option [ngValue]="category" *ngFor="let category of categories">{{category.name}}</option>
        </select>
      </td>
    </tr>
    <tr>
      <td></td>
      <td><button>Chỉnh sửa</button></td>
    </tr>
  </table>
</form>
