<h1>Danh sách sản phẩm</h1>
<table class="table">
  <tr>
    <td>STT</td>
    <td>Tên</td>
    <td>Giá</td>
    <td>Mô tả</td>
    <td>Edit</td>
    <td>Xóa</td>
  </tr>
  <tr *ngFor="let product of products; index as i">
    <td>{{i + 1}}</td>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.description}}</td>
    <td><a [routerLink]="['/product/edit',product.id]">Edit</a></td>
    <td><a [routerLink]="['/product/delete',product.id]">Delete</a></td>

  </tr>
</table>
