<!--<div id="calculator">-->
<!--  <input type="text" id="display" />-->
<!--  <p style="color: black">{{numbers}}</p>-->

<!--  <p style="color: black">{{results}}</p>-->
<!--  <div id="buttons">-->
<!--    <div class="button-row">-->
<!--      <span class="operation button" (click)="getValue(7)" >ON</span>-->
<!--      <span class="operation button" (click)="getValue(7)" >MR</span>-->
<!--      <span class="operation button" (click)="getValue(7)" >M-</span>-->
<!--      <span class="operation button" (click)="getValue(7)" >M+</span>-->
<!--      <span class="operation button" (click)="getValue('/')" >÷</span>-->
<!--    </div>-->
<!--    <div class="button-row">-->
<!--      <span class="operation button" (click)="getValue('/')" >%</span>-->
<!--      <span class="number button" (click)="getValue(7)"  >7</span>-->
<!--      <span class="number button" (click)="getValue(8)" >8</span>-->
<!--      <span class="number button" (click)="getValue(9)" >9</span>-->
<!--      <span class="operation button" (click)="getValue('*')" >×</span>-->
<!--    </div>-->
<!--    <div class="button-row">-->
<!--      <span class="operation button" (click)="getValue('+')" >±</span>-->
<!--      <span class="number button" (click)="getValue(4)" >4</span>-->
<!--      <span class="number button" (click)="getValue(5)" >5</span>-->
<!--      <span class="number button" (click)="getValue(6)" >6</span>-->
<!--      <span class="operation button" (click)="getValue('-')" >-</span>-->
<!--    </div>-->
<!--    <div class="button-row">-->
<!--      <span class="clear button"   >C</span>-->
<!--      <span class="number button" (click)="getValue(1)" >1</span>-->
<!--      <span class="number button" (click)="getValue(2)" >2</span>-->
<!--      <span class="number button" (click)="getValue(3)" >3</span>-->
<!--    </div>-->
<!--    <div class="button-row">-->
<!--      <span class="clear button" (click)="clear()" >AC</span>-->
<!--      <span class="number button" (click)="getValue(0)" >0</span>-->
<!--      <span class="number button">.</span>-->
<!--      <span class="operation button" (click)="value()" >=</span>-->
<!--    </div>-->
<!--    <span class="long operation button" (click)="getValue('+')" >+</span>-->
<!--  </div>-->
<!--</div>-->
