<section class="hp-room-section" >
  <div class="container-fluid">
    <div class="hp-room-items">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="hp-room-item set-bg">
            <div class="hr-text">
              <img src="../../assets/img/room/room-b2.jpg" alt="">
              <h3>Double Room</h3>
              <h2>199$<span>/Pernight</span></h2>
              <table>
                <tbody>
                <tr>
                  <td class="r-o">Size:</td>
                  <td>30 ft</td>
                </tr>
                <tr>
                  <td class="r-o">Capacity:</td>
                  <td>Max persion 5</td>
                </tr>
                <tr>
                  <td class="r-o">Bed:</td>
                  <td>King Beds</td>
                </tr>
                <tr>
                  <td class="r-o">Services:</td>
                  <td>Wifi, Television, Bathroom,...</td>
                </tr>
                </tbody>
              </table>
              <a href="#" class="primary-btn">More Details</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="hp-room-item set-bg">
            <div class="hr-text">
              <img src="../../assets/img/room/room-b2.jpg" alt="">
              <h3>Premium King Room</h3>
              <h2>159$<span>/Pernight</span></h2>
              <table>
                <tbody>
                <tr>
                  <td class="r-o">Size:</td>
                  <td>30 ft</td>
                </tr>
                <tr>
                  <td class="r-o">Capacity:</td>
                  <td>Max persion 5</td>
                </tr>
                <tr>
                  <td class="r-o">Bed:</td>
                  <td>King Beds</td>
                </tr>
                <tr>
                  <td class="r-o">Services:</td>
                  <td>Wifi, Television, Bathroom,...</td>
                </tr>
                </tbody>
              </table>
              <a href="#" class="primary-btn">More Details</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="hp-room-item set-bg">
            <div class="hr-text">
              <img src="../../assets/img/room/room-b3.jpg" alt="">
              <h3>Deluxe Room</h3>
              <h2>198$<span>/Pernight</span></h2>
              <table>
                <tbody>
                <tr>
                  <td class="r-o">Size:</td>
                  <td>30 ft</td>
                </tr>
                <tr>
                  <td class="r-o">Capacity:</td>
                  <td>Max persion 5</td>
                </tr>
                <tr>
                  <td class="r-o">Bed:</td>
                  <td>King Beds</td>
                </tr>
                <tr>
                  <td class="r-o">Services:</td>
                  <td>Wifi, Television, Bathroom,...</td>
                </tr>
                </tbody>
              </table>
              <a href="#" class="primary-btn">More Details</a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="hp-room-item set-bg" >
            <div class="hr-text">
              <img src="../../assets/img/room/room-b4.jpg" alt="">
              <h3>Family Room</h3>
              <h2>299$<span>/Pernight</span></h2>
              <table>
                <tbody>
                <tr>
                  <td class="r-o">Size:</td>
                  <td>30 ft</td>
                </tr>
                <tr>
                  <td class="r-o">Capacity:</td>
                  <td>Max persion 5</td>
                </tr>
                <tr>
                  <td class="r-o">Bed:</td>
                  <td>King Beds</td>
                </tr>
                <tr>
                  <td class="r-o">Services:</td>
                  <td>Wifi, Television, Bathroom,...</td>
                </tr>
                </tbody>
              </table>
              <a href="#" class="primary-btn">More Details</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
